/*************************Var sass**************************/
$base-color: rgb(243,243,243);
$primary:#4b5153;
$secondary:rgb(66, 72, 75);
$grey:rgb(165, 164, 164);
$azulado: rgb(11, 51, 63);
$celesteIntenso: rgb(188, 239, 255);
$circle-color: rgb(233, 233, 233);
/*************************Var sass**************************/
.videoSettings{
  max-width: 100vh;
  max-height: auto;
}
